li {
  list-style: none;
}

.header-container {
  position: sticky;
  top: 0.5em;
  z-index: 3;
}
header {
  font-size: 0.9em;
  border: 1px solid var(--color);
  position: relative;

  &:before {
    background-color: inherit;
    content: "";
    // inset: -0.5em;
    inset: 0;
    position: absolute;
    backdrop-filter: blur(25px);
    border-radius: inherit;
    z-index: -1;
  }
}

.nav-menu {
  display: flex;
  gap: 0.5em;

  &:has(a:hover) {
    a:not(:hover) {
      opacity: 0.4;
    }
  }
  a {
    display: inline-block;
    text-transform: capitalize;
    padding: 0.1em 0.4em;
    transition: opacity 200ms;
    span {
      font-size: 0.7em;
    }
  }
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  outline-offset: 0.5em;
  max-width: fit-content;
  margin: auto;
  gap: 1em;
  border-radius: 21em;
  padding: 0.5em;
  .logo-wrapper {
    border-radius: inherit;
    #logo {
      display: inline-grid;
      place-items: center;
      $s: 2em;
      height: $s;
      width: $s;
      border-radius: inherit;
      background-color: blue;
    }
  }
  .nav-wrapper {
    position: relative;
    transition: width 0.2s, height 0.2s;
    width: var(--width);
    .mini-nav,
    .nav {
      align-items: center;
      display: flex;
      transition: width 300ms;
    }
    .mini-nav {
      width: max-content;
      padding-inline: 2em;
      border-radius: 1em;
    }
    .nav {
      white-space: nowrap;
      position: relative;
      position: relative;
      margin: auto;
    }
  }
}

header #header-input-label {
  display: none;
}

#current-section {
  display: none;
}
#label-for-header-menu {
  transition: opacity 200ms;
  position: fixed;
  background-color: var(--bg);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(20px);
}
@media (max-width: 560px) {
  body:has(#header-input:checked) {
    overflow-y: hidden;
    #label-for-header-menu {
      pointer-events: all;
      opacity: 0.8;
    }
  }

  #scheme-input-label {
    top: auto;
    bottom: 0.5em;
  }
  header {
    --isMobile: true;
  }
  #current-section {
    display: block;
  }
  // #header-ibput:checked
  .nav-wrapper {
    width: 100% !important;
  }

  .header {
    font-size: 1em;
    border-radius: 0.4em !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-items: start;
    height: 3em;
    overflow: hidden;
    transition: 200ms;
    max-height: fit-content !important;
    min-width: 100% !important;

    .logo-wrapper {
      background: none !important;
      width: 100% !important;
      display: flex !important;
      justify-content: space-between;

      #header-input-label {
        display: inline-grid;
        place-items: center;
        $s: 1.6em;
        height: $s !important;
        width: $s !important;
        // background-color: blue;
        input {
          display: none;
        }
        cursor: pointer;

        // position: relative;

        .bars {
          //
          position: relative;
          height: 100%;
          width: 100%;
          // inset: 0;
          display: flex;

          align-items: center;
        }

        --offset: 0.2em;
        .bar {
          position: absolute;

          width: 100%;
          height: 2px;
          background-color: currentColor;
          transition: 200ms;
          transform: translateY(calc(-1 * var(--offset))) translateX(10%);
          &:nth-child(2) {
            transform: translateY(var(--offset)) translateX(0%);
          }
        }
      }
    }
  }

  header:has(#header-input:checked) {
    height: 9em;

    .bar {
      --offset: 0;
      rotate: 45deg;
      &:nth-child(2) {
        rotate: -45deg;
      }
    }
  }
  .nav {
    display: grid !important;
    grid-template-rows: 0fr !important;
    overflow: hidden;
    .nav-menu {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
    }
  }
}
