body {
  background: conic-gradient(
    rgb(2, 2, 54),
    rgb(0, 0, 38),
    rgb(1, 1, 68),
    rgb(0, 0, 38),
    rgb(1, 1, 58)
  );
  color: #fff;

  font-size: clamp(14px, 2vw, 24px);
  font-family: "Sawarabi Mincho", serif;
}

.container {
  @apply mx-auto;
  max-width: 1600px;
  padding-inline: 0.5em;
}
[logo] {
  font-family: "Indie Flower", cursive;
  text-decoration: none;

  .letter {
    @apply inline-block;

    &:nth-child(2) {
      transform: translateY(-10%);
    }
    &:nth-child(3) {
      transform: translateY(-30%);
    }
    &:nth-child(4) {
      transform: translateY(-50%);
    }

    & ~ [letter] {
      margin-left: -7px;
    }
  }
}

nav {
  @apply p-4 border-b-2 border-blue-600;
}

#hero-title {
  @apply text-center text-lg;

  font-size: 3em;
  > * {
    display: block;
    line-height: 170%;
  }

  .top {
    font-family: "Satisfy", cursive;
  }

  .bottom-wrapper {
    @apply flex flex-col items-center;

    #underline-svg {
      @apply inline-block mt-6 max-w-full;
    }
  }

  &:hover .bottom {
    gap: 0.3em;
  }
  .bottom {
    @apply inline-flex justify-center items-center gap-16  relative;
    gap: 0.2em;
    transition: 300ms;

    font-size: 2.2em;
    font-family: "Bebas Neue", cursive;

    svg[id*="shape"] {
      opacity: 0.3;
      height: 0.5em;
    }
    #shape-right {
      @apply rotate-180;
    }

    #group-stars {
      @apply absolute  top-2 right-5;
      height: 0.3em;
    }
  }

  .role {
    font-size: 0.5em;

    font-family: "Bebas Neue", cursive;
  }
}
.profile-description {
  @apply text-center mx-auto;
  max-width: 90ch;
}

.scroll-down-btn {
  $s: 6em;

  height: $s;
  aspect-ratio: 1;
  display: block;
  background-color: blue;

  @apply grid place-items-center rounded-full mx-auto my-16;
  position: relative;

  &:hover {
    .circular-text {
      .letter-circular:nth-child(2n) {
        width: 57%;
      }
    }
    svg {
      transition: 300ms;
    }
    svg {
      filter: drop-shadow(0 0 24px yellow) drop-shadow(0 0 24px yellow)
        drop-shadow(0 0 14px yellow) drop-shadow(0 0 44px yellow);
    }
  }
}
.circular-text {
  animation: turn 16s infinite linear;
  position: absolute;
  inset: -1.5em;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 0.8em;

  .letter-circular {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%) rotate(calc(var(--number) * 15deg));
    display: block;
    text-align: left;
    right: 50%;
    transform-origin: right;
    transition: width 300ms;
    span {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }
}
@keyframes turn {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.turn {
  animation: turn 6s infinite linear;
}

[class*="custom-cursor"] {
  /* --x:-100vh; */
  --size: 1em;
  --scale: 1;
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  aspect-ratio: 1;
  height: calc(var(--size) * var(--scale));

  border: 2px solid yellow;
  transform: translate(-50%, -50%);

  left: var(--x, 0);
  top: var(--y, 0);
  transition: 100ms;
  mix-blend-mode: difference;

  &.dot {
    border: 0;
    --size: 0.3em;
    background-color: yellow;
    --t: 250ms;
    // transition: var(--t);
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transition: calc($i * 0.5 * var(--t));
      }
    }
  }
}

body.scale {
  [class*="custom-cursor"] {
    --scale: 3;
  }
}
body.leave {
  [class*="custom-cursor"] {
    opacity: 0;
  }
}

// ----------------------------

.languages-wrapper {
  @apply flex  justify-center flex-wrap;
  gap: 4em;

  .language-wrapper {
    &:hover {
      .language-sub-wrapper {
        // transform: rotate( -10deg);
      }
      .language-name {
        &::before {
          transform: rotate(100deg) scale(0.3);
          transform: scale(1.4);
          background-color: blue;
          opacity: 1;
        }
      }
    }
  }
  .language-sub-wrapper {
    background-color: blue;
    border: 5px solid blue;
    border-top: 0;
    transform-origin: 0% 100%;
    transition: 200ms;
    transition-timing-function: cubic-bezier(1, -0.41, 0.07, 1.01);
    will-change: transform;

    .top {
      display: flex;
      align-items: center;
      padding-block: 0.4em;
      gap: 0.4em;

      // square
      span {
        display: inline-block;
        aspect-ratio: 1;
        height: 0.5em;
        border: 0.2em solid #fff;
        border-radius: 50%;
      }
    }

    img {
      height: 5em;
      // width: 3em;
      // aspect-ratio: 1;
      width: 100%;
      object-fit: contain;
      border: 0.4em solid black;
      background-color: #070a36;
      padding: 1em;
      // border-radius: .6em;
    }
  }

  p.language-name-level-wrapper {
    // font-size: .9em;

    span {
      display: block;
    }
    .language-name {
      // padding-inline:2em ;

      position: relative;
      @apply flex items-center;
      // isolation: isolate;

      &:before {
        content: "";
        position: absolute;
        $s: 3em;
        height: $s;
        aspect-ratio: 1;
        border: 2px solid blue;
        border-radius: 50%;
        // z-index: -1;
        // top: ;
        left: -1em;
        transform-origin: top;
        transition: 300ms;
        mix-blend-mode: difference;
        opacity: 0.2;
      }
    }
    .language-level {
      font-size: 0.8em;
      opacity: 0.7;
      text-transform: capitalize;
    }
  }
}

// ---------------------
// %
%hover-svg-state {
  color: transparent;
  --svg-bg: transparent;
  --svg-border-clr: white;
  svg {
    top: 50%;

    right: 50%;
    transform: translate(50%, -50%);
  }
}

.projects-wrapper {
  @apply flex flex-col items-center;
  padding-top: 1em;
  gap: 4em;
  .project-wrapper {
    @apply flex flex-wrap;
    gap: 3em;
    max-width: fit-content;

    border-radius: 2em;
    position: relative;
    &:before {
      position: absolute;
      content: "";
      font-size: inherit;
      top: 1.5em;
      left: 0;
      right: 0;
      bottom: 0;
      //   background-color: #7112941c;
      border: 3px dashed rgba(255, 255, 255, 0.294);
      filter: blur(5px);
      z-index: -2;
      border-radius: inherit;
      transition: 300ms;
    }
    &:after {
      content: "";
      position: absolute;
      inset: -0.5em;
      inset: -0;
      filter: blur(20px);
      background: conic-gradient(
        transparent 120deg,
        hsl(240, 27%, 44%),
        hsl(240, 100%, 38%),
        hsl(240, 100%, 16%),
        transparent
      );
      border-radius: inherit;
      z-index: -4;
      opacity: 0.3;
      transition: 200ms;
    }
    &:hover {
      &::after {
        opacity: 0.6;
        // top: 0;
        // box-shadow: 0 0 0px 10px rgba(91, 9, 255, 0.53);
      }
    }
    .left {
      width: clamp(300px, 30vw, 800px);
      aspect-ratio: 16/10;
      max-width: 100%;
      border-radius: inherit;
      overflow: hidden;
      outline: 2px solid transparent;
      outline-offset: 0.2em;
      transition: 200ms;
      &:hover {
        outline-color: white;
        outline-offset: 1em;
      }

      img {
        @apply w-full h-full object-cover;
      }
    }

    .left {
      --rotation-direction: 1;
      transform-origin: 0 0;
      transform: rotate(calc(var(--rotation-direction) * -2deg));
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;
      .left {
        transform-origin: 100% 0;
        --rotation-direction: -1;
      }
    }
    .right {
      // width: 700px;
      // max-width: 700px;
      padding-bottom: 1.5em;
      padding-inline: 1.5em;
      .title {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 1em;
        text-transform: uppercase;
      }
      .description {
        max-width: 70ch;
      }
    }
  }
}

.btns-wrapper {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  a {
    padding: 0.5em 2em;
    border-radius: 0.2em;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.5em;
    //pour code svf et demo clr before element
    position: relative;
    border: 2px solid white;
    transition: 200ms;
  }
}

//shift-effect only
.btns-wrapper a.demo {
  --bg-color: blue;
  --shift: 5px;
  position: relative;
  //   opacity: 0;
  &:after {
    content: "";
    font-size: inherit;
    position: absolute;
    inset: -0.1em;
    background: var(--bg-color);
    transform: translate(var(--shift), var(--shift));
    border-radius: inherit;
    transition: 200ms;
    z-index: -1;
  }
  &:hover {
    --shift: -5px;
    // border-color: var(--bg-clr);
  }
}

//svg and svg effect

.btns-wrapper {
  --svg-border-clr: white;

  %hover-svg-state {
    color: transparent;
    --svg-bg-clr: transparent;
    svg {
      top: 50%;

      right: 50%;
      transform: translate(50%, -50%);
      opacity: 1;
      --size: 2em;
      --blur: 0;
    }
  }
  .demo {
    --svg-bg-clr: rgb(9, 9, 61);
    --svg-border-clr: white;
  }
  .code {
    --svg-bg-clr: rgb(116, 37, 37);
    --svg-border-clr: white;
  }

  svg {
    background-color: var(--svg-bg-clr);
    border: 2px solid var(--svg-border-clr);

    position: absolute;
    $s: -0.6em;

    top: $s;
    right: $s;

    padding: 0.4em;
    --opacity: 1;
    --size: 0.2em;
    --blur: 8px;
    > * {
      opacity: var(--opacity);
    }
    filter: blur(var(--blur));
    $size: 2em;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    transition: 200ms, filter 400ms;
    opacity: var(--opacity);
  }

  a:hover {
    @extend %hover-svg-state;
  }
}

@media (max-width: 900px) {
  .projects-wrapper {
    gap: 4em;
    .project-wrapper {
      flex-direction: column !important;
      // gap: 6em;
      align-items: center;

      .left {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 400px) {
  .to-hide-mobile {
    display: none;
  }
}

// ---------------------

.section-title {
  margin-block: 5em;
}
.moving-word {
  &.title {
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    margin-inline: 1em;
    font-size: clamp(1em, 7vw, 3em);
    font-family: "Aboreto", cursive;
  }
  div {
    display: inline-block;
  }
  span {
    display: inline-block;
    animation: moveLetter 2000ms infinite ease-in-out;
    transition: 200ms;
    &:hover {
      scale: 2;
    }

    &.empty {
      width: 1ch;
    }
  }
  &.title {
    span {
      text-shadow: 0 0.3em 30px rgb(162, 0, 255);
    }
  }
}

@keyframes moveLetter {
  50% {
    transform: translateY(10%) translateX(-50%);
  }
}

.moving-icon {
  animation: moveLetter 2000ms infinite ease-in-out;
  height: 3em;
  aspect-ratio: 1;
  // margin-top: -3em;
  svg {
    height: 100%;
    width: 100%;
  }
  transition: 300ms;
  filter: drop-shadow(0 1em 10px blue);

  &:hover {
    scale: 2;
  }
  &.messenger {
    margin-top: -6em;
    margin-bottom: 3em;
    margin-inline: auto;
    opacity: 0.2;
  }
}
.moving-ball {
  display: block;
  //   $s: 1em;
  //   height: 1em;
  width: 2em;
  aspect-ratio: 1;
  //   aspect-ratio: 1;
  animation: moveLetter 2000ms infinite ease-in-out;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  //   transform: scale(0.1);
  display: grid;
  place-items: center;
  &:not(.x) {
    &::before {
      content: "";
      position: absolute;
      background-color: blue;
      height: 0.5em;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    &::after {
      content: "";
      position: absolute;
      // background-color: white;
      height: 0.9em;
      aspect-ratio: 1;
      border-radius: 50%;
      z-index: -2;
      animation: moveLetter 2s infinite alternate-reverse;
      border: 2px solid blue;
    }
  }
}

.Section-title {
  .moving-ball {
    &:nth-of-type(2) {
      animation-delay: -2.7s;
    }
  }
}

.more-front-end-wrapper {
  @apply flex flex-wrap justify-center;

  gap: 3em;
  .svg-wrapper {
    position: relative;
    display: inline-block;
    height: fit-content;
    svg {
      box-sizing: border-box;
      $s: 5em;
      height: $s;
      width: $s;
      border: 2px solid yellow;
      border-radius: 50%;
      padding: 1.5em;
      overflow: visible;
    }
  }
  p {
    max-width: 60ch;
    text-align: justify;

    //-------------

    .trip-btn {
      position: relative;
      &::before {
        content: "👆";
        position: absolute;
        top: 90%;
        left: 10%;
        display: inline-grid;
        place-items: center;
        background-color: blue;
        border-radius: 50%;
        transition: 300ms;
        height: 2em;
        aspect-ratio: 1;
      }
      &:hover {
        &:before {
          left: 90%;
        }
      }
      padding: 0.8em 1em;
      border-radius: 0.5em;
      background: linear-gradient(
        45deg,
        rgb(2, 2, 71),
        blue,
        rgb(174, 59, 255)
      );
      background-size: 200% 100%;
      transition: 200ms;
      &:hover {
        background-position: 50%;
      }
    }
  }

  position: relative;
  padding: 3em;
  outline: 2px solid blue;
  $size: 3em;
  $border-size: 1em;

  $border-clr: rgb(185, 9, 150);
  $position: calc(-1 * $border-size / 2);
  &:before {
    content: "";
    position: absolute;
    top: $position;
    left: $position;
    height: $size;
    aspect-ratio: 1;
    border: 5px solid transparent;
    border-top: $border-size solid $border-clr;
    border-left: $border-size solid $border-clr;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: $position;
    right: $position;
    height: $size;
    aspect-ratio: 1;
    border: 5px solid transparent;
    border-right: $border-size solid $border-clr;
    border-bottom: $border-size solid $border-clr;
  }
}

.social-links-wrapper {
  @apply flex flex-col items-center mx-auto w-fit;
  gap: 1em;
  .social-link {
    @apply flex items-center justify-between flex-1;
    gap: 2em;
    padding: 0.5em;
    font-size: 2em;
    width: 100%;
    transition: 200ms;
    outline: 0px solid transparent;
    outline-offset: -2em;
    &:hover {
      outline: 2px solid rgb(156, 8, 255);
      outline-offset: 0.1em;
    }
    .moving-icon {
      height: 1em;
    }
  }
}

section:last-of-type {
  padding-bottom: 3em;
}
