.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  gap: 3em;
}

.projects-wrapper .project-wrapper {
  display: flex;
  gap: 3em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  padding-top: 2em;
  --border-color: currentColor;
}
.projects-wrapper .project-wrapper:before {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  border: 2px solid var(--border-color);
  border-radius: 0.3em;
}

.projects-wrapper .project-wrapper .left {
  width: clamp(300px, 30vw, 800px);
  aspect-ratio: 16/10;
  max-width: 100%;
  border-radius: inherit;
  overflow: hidden;
  outline: 2px solid transparent;
  outline-offset: 0.2em;
  transition: 200ms;
  flex-shrink: 0;
}
.projects-wrapper .project-wrapper .left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-wrapper .project-wrapper .left:hover {
  outline-color: var(--color);
  outline-offset: 1em;
}

.projects-wrapper .project-wrapper .left {
  --rotation-direction: 1;
  transform-origin: 0 0;
  transform: rotate(calc(var(--rotation-direction) * -2deg));
}

.projects-wrapper .project-wrapper:nth-child(2n) {
  flex-direction: row-reverse;
}

.projects-wrapper .project-wrapper:nth-child(2n) .left {
  transform-origin: 100% 0;
  --rotation-direction: -1;
}

.projects-wrapper .project-wrapper .right {
  padding-bottom: 1.5em;
  padding-inline: 1.5em;
}

.projects-wrapper .project-wrapper .right .title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.projects-wrapper .project-wrapper .right .description {
  max-width: 70ch;
}

.btns-wrapper {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.btns-wrapper a {
  padding: 0.5em 2em;
  border-radius: 0.2em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: relative;
  border: 2px solid var(--color);
}
.btns-wrapper a span {
  transition: 200ms;
}

.btns-wrapper a.code {
  color: var(--color);
}

.btns-wrapper a.demo {
  --bg-color: blue;
  background: var(--bg-color);
  color: var(--color);
  border: 0;
}
.btns-wrapper a.demo span {
  color: var(--bg-light);
}

.btns-wrapper svg {
  color: inherit;
  border: 2px solid currentColor;
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  padding: 0.4em;
  --opacity: 1;
  --size: 0.2em;
  filter: blur(var(--blur));
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  transition: 200ms, filter 400ms;
  opacity: var(--opacity);
}
.btns-wrapper svg, .btns-wrapper svg * {
  stroke: currentColor;
}

.btns-wrapper a:hover span {
  color: transparent;
}
.btns-wrapper a:hover.demo svg {
  color: var(--bg-light);
}

.btns-wrapper a:hover svg {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 1;
  --size: 2em;
  --blur: 0;
}

@media (max-width: 900px) {
  .projects-wrapper {
    gap: 4em;
  }
  .projects-wrapper .project-wrapper {
    flex-direction: column !important;
    align-items: center;
  }
  .projects-wrapper .project-wrapper .left {
    width: 100% !important;
  }
}/*# sourceMappingURL=projects.css.map */